language: php

matrix:
  fast_finish: true
  include:
    - php: 7.0
      env: TYPO3_VERSION=^8 TESTING_FRAMEWORK=^1.3
    - php: 7.1
      env: TYPO3_VERSION=^8 TESTING_FRAMEWORK=^1.3
    - php: 7.2
      env: TYPO3_VERSION=^8 TESTING_FRAMEWORK=^1.3
    - php: 7.2
      env: TYPO3_VERSION=^9 TESTING_FRAMEWORK=^4

sudo: false

addons:
  apt:
    packages:
      - parallel

cache:
  directories:
    - $HOME/.composer/cache

before_install:
  - composer self-update
  - composer --version

before_script:
  - phpenv config-rm xdebug.ini
  - composer require "typo3/minimal:${TYPO3_VERSION}"
  - composer require "typo3/testing-framework:${TESTING_FRAMEWORK}"
  # Restore composer.json
  - git checkout composer.json
 # - export TYPO3_PATH_WEB=$PWD/.Build/Web

script:
  - >
    echo;
    echo "Running unit tests";
    .Build/bin/phpunit --colors -c .Build/vendor/typo3/testing-framework/Resources/Core/Build/UnitTests.xml Tests/Unit/

  - >
    echo;
    echo "Running php lint";
    find . -name \*.php ! -path "./.Build/*" | parallel --gnu php -d display_errors=stderr -l {} > /dev/null \;

  - >
    echo;
    export typo3DatabaseName="typo3";
    export typo3DatabaseHost="localhost";
    export typo3DatabaseUsername="root";
    export typo3DatabasePassword="";
    .Build/bin/phpunit --colors -c .Build/vendor/typo3/testing-framework/Resources/Core/Build/FunctionalTests.xml Tests/Functional/
