<f:if condition="{settings.map.googleMaps.key}">
    <f:then>
        <div class="row">
            <div class="col-md-3">
                <f:for each="{addresses}" as="address" iteration="i">
                    <div>
                        <h3>{address.fullName}</h3>
                        <f:if condition="{address.position}">
                            <p class="position"><em>{address.position}</em></p>
                        </f:if>

                        <f:render section="address" partial="Address" arguments="{_all}"/>

                        <a href="#" data-iteration-id="{i.index}" class="marker-link">Open in map</a>
                    </div>
                </f:for>
            </div>
            <div class="col-md-9">
                <div id="ttaddress-map" style="width:100%;height:300px;background: #eee"></div>
                <div id="ttaddress-map-records" style="display: none">
                    <f:for each="{addresses}" as="address">
                        <div id="ttaddress-map-record-{address.uid}" data-id="{address.uid}" data-lat="{address.latitude}" data-lng="{address.longitude}" data-icon="icon">
                            <h3>{address.fullName}</h3>
                            <div>{address.uid}</div>
                        </div>
                    </f:for>
                </div>
            </div>
        </div>


        <script src="https://maps.googleapis.com/maps/api/js?key={settings.map.googleMaps.key}" type="text/javascript"></script>
        <script type="text/javascript" src="/typo3conf/ext/tt_address/Resources/Public/JavaScript/MapsGoogleMaps.js"></script>
    </f:then>
    <f:else>
        <div class="alert alert-danger">No Google Maps key</div>
    </f:else>
</f:if>
