{namespace ttaddr=FriendsOfTYPO3\TtAddress\ViewHelpers}

<f:section name="leaflet">

    <f:render section="rendering" arguments="{_all}"/>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>
    <script type="text/javascript" src="/typo3conf/ext/tt_address/Resources/Public/JavaScript/MapsLeaflet.js"></script>
</f:section>

<f:section name="googleMaps">
    <f:if condition="{settings.map.googleMaps.key}">
        <f:then>
            <f:render section="rendering" arguments="{_all}"/>

            <script src="https://maps.googleapis.com/maps/api/js?key={settings.map.googleMaps.key}"
                    type="text/javascript"></script>
            <script type="text/javascript"
                    src="/typo3conf/ext/tt_address/Resources/Public/JavaScript/MapsGoogleMaps.js"></script>
        </f:then>
        <f:else>
            <div class="alert alert-danger">No Google Maps key</div>
        </f:else>
    </f:if>
</f:section>

<f:section name="googleMapsStatic">
    <f:if condition="{settings.map.googleMaps.key}">
        <f:then>
            <img src="{ttaddr:staticGoogleMaps(parameters:settings.map.googleMapsStatic.parameters,addresses:addresses)}" />
        </f:then>
        <f:else>
            <div class="alert alert-danger">No Google Maps key</div>
        </f:else>
    </f:if>
</f:section>

<f:section name="rendering">
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                <f:for each="{addresses}" as="address" iteration="i">
                    <li id="ttaddress__label-{address.uid}" class="ttaddress__label list-group-item">
                        <strong>{address.fullName}</strong><br>
                        <f:render partial="Address" section="address" arguments="{_all}"/>
                        <a href="#" data-iteration-id="{i.index}" class="ttaddress__markerlink">{f:translate(key:'show_on_map')}</a>
                    </li>
                </f:for>
            </ul>
        </div>
        <div class="col-md-9">
            <div id="ttaddress__map" data-default-lat="{settings.map.defaultPosition.lat}"
                 data-default-lng="{settings.map.defaultPosition.lng}" style="width:100%;min-height:300px;"></div>
            <ul id="ttaddress__records" style="display: none">
                <f:for each="{addresses}" as="address">
                    <div id="ttaddress__record-{address.uid}" data-id="{address.uid}" data-lat="{address.latitude}"
                         data-lng="{address.longitude}" data-icon="icon">
                        <h6>{address.fullName}</h6>
                        <div>
                            <f:render partial="Address" section="address" arguments="{_all}"/>
                            <f:render partial="Address" section="contact" arguments="{_all}"/>
                        </div>
                    </div>
                </f:for>
            </ul>
        </div>
    </div>
</f:section>
