#t3js-location-map-wrap {
    position: absolute;
    width: 80vw;
    height: 80vh;
    top: 6vh;
    left: 10vw;
    opacity: 0;
    box-shadow: 0 2px 15px #000;
    transition: opacity 1500ms;
    z-index: -1;
}

#t3js-location-map-wrap.active {
    opacity: 1;
    z-index: 999;
}

.t3js-location-map-container {
    width: 100%;
    height: calc(100% - 40px);
    border: 1px solid #CCC;
}

.t3js-location-map-title>div.btn-group {
    position: absolute;
    left: 15px;
}

.t3js-location-map-title a {
    font-weight: bold;
}

.t3js-location-map-title {
    background: rgb(237, 237, 237);
    font-family: Share, Verdana, Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 5px 15px;
    text-align: center;
}